<html>
<head>
	<title>so many services!</title>
</head>
<body>
	<h2>howdy!</h2>

	<div>
		<p>Here are the services in Satellite of Love. 
		(in this section, the hyperlinks don't actually go anywhere)
		</p>
		<ul>
			{% for service in services_in_alpha_order %}
			<li><a href='#'>{{service.pretty_name}}</a></li>
			{% endfor %}
		</ul>

	</div>

	<hr/>

	<div>
		<p>In this section, the hyperlinks are customized for each service!
		</p>
		<ul>
			{% for service in services_in_alpha_order %}
			<li><a href='/sol/lola_rocks?fav_service={{service.name}}'>{{service.pretty_name}}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div>
		<p>In this section, the hyperlinks are customized for each service and, they link to a page that
			displays articles for that service
		</p>
		<ul>
			{% for service in services_in_alpha_order %}
			<li><a href='/sol/omg_articles?service={{service.name}}'>{{service.pretty_name}}</a></li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>