{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Content Types
{% endblock %}

{% block container_contents %}

<h3>Content Types</h3>

		<p>
			<form action="/sol/content_type/" method="post">
				{% csrf_token %}
				<strong>Choose your service:</strong>
				{{form.services}}
				<input type="submit" value="Filter">&nbsp;&nbsp;
					<a href="{% url 'content_type' %}"><button type='button'>Remove filters</button></a><br/>
					Active filters: {{service_filter_description}}
			</form>
		</p>
<hr/>
<p>
	{% for t in tickers %}
	<br/>
	<h4><img src="http://g.foolcdn.com/art/companylogos/mark/{{t.ticker_symbol}}.png">...........{{t.company_name}}</h4>
	{{t.ticker_symbol}}......{{t.company_name}}....{{t.services_for_ticker}} {% if t.tier %}.... Tier: {{t.tier}}{% endif %}<br/>
		<form method="post" action="/sol/content_type/">
		{% csrf_token %}
		{% for c in coverage_type_choices %}
		<input type="checkbox" name="coverage_types" value="{{t.ticker_symbol}}_{{c.0}}" {% if c.1 in selected_coverage_for_this_pair %} checked {% endif %}> {{ c.1 }}: {{c.service.pretty_name}}<br/>
		{% endfor %}
		<input type="submit" name="coverage" value="Save {{t.ticker_symbol}}">
		</form>
		{% endfor %}
		<br/>
		
		<table>
		{% for c in coverage_type_choices %}
			<tr>
			<td>
				{{ c.1 }}
			</td>
		{% for s in services %}
			<td>{{ s.pretty_name }}</td>
		{% endfor %}
		</tr>
		{% endfor %}
	</table>

		Up above, for c in coverage_type_choices: here is the explanation: This determines whether to check a box upon loading. Consider each item in coverage_type_choices, which is a list of descriptions (the second value of each tuple in COVERAGE_CHOICES, in order). If that string exists in selected_coverage_for_this_pair (which is currently manually entered, but will be populated differently later), check the box.

		What's POST passing along right now? the csrf_token, and one value for every ticker that looks like u'AAPL_' -- the second half of the name should be the coverage_type, and that's not getting filled in.

</p>

<hr/>


"list of article types should be specific to each service -- the record that gets written for AAPL -- SA -- 10% PROMISE should be different from the one for AAPL -- PRO -- 5AND3 or whatever; they don't have to hook into the same ticker, I don't think, just exist in the db as different rows. ?? Also display so that any content type that is_true for that record displays at the top with no checkbox, then the stuff that isn't true shows up as a checkbox for saving.

"WAIT okay so she wants to show a ticker, the kinds of coverage, and if applicable, the services the coverage applies to. So like Apple: Earnings Preview - SA/MDP/Pro, 5 and 3: SA, etc. I think service view then drill-down ticker view? How do I hook those two conditions together: I think the record thing is right -- one record for each, Risk Rating -- SA -- AAPL and Earnings Preview -- MDP -- AAPL and so forth. NotSureWeNeedContentTypeAttachedToTicker.""


{% endblock %}