{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Content Audit
{% endblock %}

{% block container_contents %}

<h3>Content Audit</h3>

		<p>
			<form action="" method="post">
				{% csrf_token %}
				<strong>Choose your service:</strong>
				{{form.services}}
				<input type="submit" value="Filter">&nbsp;&nbsp;
					<a href="{% url 'content_audit' %}"><button type='button'>Remove filters</button></a><br/>
					Active filters: {{service_filter_description}}
			</form>
		</p>
<hr/>
<p>
	{ % for a in individual_articles % }
	{ { a.title } }<br/>
	{ % endfor % }
</p>
<table class="listTable">
	<tr>
		<th>% Change</th>
		<th>Image</th>
		<th>Company</th>
		<th>Ticker</th>
		<th>Tier</th>
		<th>Analyst 1</th>
		<th>Analyst 2</th>
		<th>Analyst 3</th>
	  	{% for t in tickers %}
 	<tr>
 	<td>
 	{{t.daily_percent_change}}%</td>
 	<td>
 	<img width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>&nbsp;&nbsp;</td>
 	<td>
 	{{t.company_name}}</td>
 	<td>
 	{{t.ticker_symbol}}</td>
 	<td>
 	{{t.tier_status}}</td>
 	<td>
	<form action="">
		{% csrf_token %}


		{{analyst_form.analyst1}}
 	</td>
 	<td>
		{{analyst_form.analyst2}}
	</td>
	<td>
		{{analyst_form.analyst3}}
	</td>
	<td>
	<input type="submit">
	</form>
	</td>
	</tr>
 	{% endfor %}
 </table>

{% endblock %}