{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Content Audit
{% endblock %}

{% block container_contents %}

<h3>Content Audit</h3>

		<p>
			<form action="" method="post">
				{% csrf_token %}
				<strong>Choose your service:</strong>
				{{form.services}}
				<input type="submit" value="Filter">&nbsp;&nbsp;
					<a href="{% url 'content_audit' %}"><button type='button'>Remove filters</button></a><br/>
					Active filters: {{service_filter_description}}
			</form>
		</p>
<hr/>
<p>
	{ % for a in individual_articles % }
	{ { a.title } }<br/>
	{ % endfor % }
</p>
<table>
	<tr>
		<th>% Change</th>
		<th>Image</th>
		<th>Company</th>
		<th>Ticker</th>
		<th>Tier</th>
		<th>Analyst 1</th>
		<th>Analyst 2</th>
		<th>Analyst 3</th>
		<th>Past [Service] Coverage</th>
	  	{% for t in tickers %}
 	<tr>
 	<td>
 	% Change</td>
 	<td>
 	Image</td>
 	<td>
 	{{t.company_name}}</td>
 	<td>
 	{{t.ticker_symbol}}</td>
 	<td>
 	{{t.tier_status}}</td>
 	<td>
		<form action="" method="post">
			{% csrf_token %}
			{{analyst_form.analyst}}
		</form>
 	</td>
 	<td>
 	{{t.ticker_symbol}}</td>
	</tr>
 	{% endfor %}
 </table>

{% endblock %}