{% extends 'satellite/_base_layout.html' %}

{% load coverage_pledge_tags %}
{% load preselected_author_tags %}

{% block title_value %}
SOL: Coverage Index
{% endblock title_value %}

{% block container_contents %}

<h3>Coverage Index</h3>
<div>
<table id='coverage_table' class="table table-striped table-bordered">
<thead>
    <tr>
        <td width="25%"><b>Company</b></td>
        <td width="25%"><b>Services</b></td>
        <td width="25%"><b>Authors</b></td>
        <td width="25%"><b>Notes</b></td>
    </tr>
</thead>
<tbody class=''>
    {% for t in tickers %}
    <tr>
        <td><img width=30px src="http://g.foolcdn.com/art/companylogos/mark/{{t.ticker_symbol}}.png">&nbsp;&nbsp;<b>{{t.company_name}}</b><br/>{{t.ticker_symbol}}</td>
        <td><em>{{t.services_for_ticker}}</em>&nbsp;{% if t.tier %}<br/><span style="background-color:yellow">Tier: {{t.tier}}</span>{% endif %}</td>
        <td>soup</td>
        <td>{{t.notes|default_if_none:'[No notes]'}}<br/><a href="{{t.ticker_symbol}}">Edit</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% endblock container_contents %}

{% block script_block %}
{{ block.super }}

<!-- http://www.datatables.net/ -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script>

    $(function() {
        $('#coverage_table').dataTable( {
            "order": [[ 2, "asc" ]],
            "lengthMenu": [[-1,50,100], ["All",50,100]]
        } );

    });
</script>
{% endblock script_block %}
