{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Coverage Types
{% endblock %}

{% block container_contents %}

<h3>Content Audit</h3>

		<p>
			<form action="/sol/content_audit/" method="post">
				{% csrf_token %}
				<strong>Choose your service:</strong>
				{{form.services}}
				<input type="submit" value="Filter">&nbsp;&nbsp;
					<a href="{% url 'content_audit' %}"><button type='button'>Remove filters</button></a><br/>
					Active filters: {{service_filter_description}}
			</form>
		</p>
<hr/>

<table class="listTable">
	<tr>
		<th>Tier</th>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Ticker</th>
		<th>Coverage Promised</th>
		<th>Services With Ticker</th>
	{% for t in tickers %}
 	<tr>
 	<td>
 	{{t.tier_status}}%</td>
 	<td>
 	<img width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>&nbsp;&nbsp;</td>
 	<td>
 	{{t.company_name}}</td>
 	<td>
 	{{t.ticker_symbol}}</td>
 	<td>
 	{{t.covntent_type}}</td>
 	<td>
 	{{t.services_for_ticker}}
	</td>
	</tr>
 	{% endfor %}
 </table>

{% endblock %}