{% extends 'satellite/_base_layout.html' %}

{% load coverage_pledge_tags %}
{% load preselected_author_tags %}

{% block title_value %}
SOL: Coverage Type
{% endblock %}

{% block container_contents %}

<h3>Content Types</h3>

		<p>
			<form action="/sol/coverage_type/" method="post">
				{% csrf_token %}
				<strong>Choose your service:</strong>
				{{form.services}}
				<input type="submit" value="Filter">&nbsp;&nbsp;
					<a href="{% url 'coverage_type' %}"><button type='button'>Remove filters</button></a><br/>
					Active filters: {{service_filter_description}}
			</form>
		</p>
<hr/>
<p>
	{% for t in tickers %}
	<br/>
	<h4><img src="http://g.foolcdn.com/art/companylogos/mark/{{t.ticker_symbol}}.png">&nbsp;&nbsp;{{t.company_name}}&nbsp;({{t.ticker_symbol}})</h4>
	<p><em>{{t.services_for_ticker}}</em>&nbsp;{% if t.tier %}<span style="background-color:yellow">Tier: {{t.tier}}</span>{% endif %}<br/>
		

        <form method="post" action="/sol/coverage_type/">
		{% csrf_token %}
        <!--
        table structure:

         one row per coverage type (5 & 3, Earnings Preview, etc)
         number of cells per row = one for displaying the coverage type, and one for each service in which the ticker is a rec
         thead for displaying the service names
         note: scope is a single ticker
        -->
        <table class="contentTypeTable">

        <thead>
            <tr>
                <td width="150px">Type</td>
                {% for s in services %}
                    <!-- display a cell only if the ticker is rec'd by this service -->
                    {% if s.pretty_name in t.services_for_ticker %}
                    <td width="100px"><small>{{ s.pretty_name }}</small></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>

        <tbody>
		{% for c in coverage_type_choices %}
        {% get_services_ids c.0 t as service_ids_with_coverage_pledge %}

        <tr>
            <td>{{ c.1 }}</td>
            {% for s in services %}
                <!-- like in the thead, display a cell only if the ticker is rec'd by this service -->
                {% if s.pretty_name in t.services_for_ticker %}
                <td>
                    <!-- embed the content choice id and service id in the input name -->
                    <input type="checkbox" name="cid_{{ c.0 }}__sid_{{ s.id }}"
                            {% if s.id in service_ids_with_coverage_pledge %} checked {% endif %}
                            >

                    {% get_author_name c.0 t s as preselected_author %}

                    <select name="author_cid_{{ c.0 }}__sid_{{ s.id }}">
                    {% for a in single_authors %}
                    <option value="{{a}}" {% ifequal a preselected_author %} selected {% endifequal %} >{{a}}</option>
                    {% endfor %}
                </select>
                </td>
            {% endif %}
            {% endfor %}
        </tr>
            {% endfor %}
        </tbody>

        </table>
		<input type="submit" name="coverage" value="Save {{t.ticker_symbol}}">
		</form>
		{% endfor %}

		<br/>


{% endblock %}