<html>
<head>
<title>extra SOL pages!</title>
</head>

<body>

<h3>some pages we've made while SOL is under construction:</h3>

<ul>
	<li><a href='/sol/all_the_bloody_services'>all of the services</a>, with links to articles per service</li>
	<li><a href='/sol/lola_rocks'>a fun page</a> that demos the underlying view (in views_samples.py) pulling data from the query string. Try it, and then try the url with "?fav_service=inside_value&fav_color=purple" in the query string.</li>
	<li><a href='/sol/omg_articles'>all of the articles</a></li>
</ul>

</body>

</html>