<html>
<head>
	<title>index of articles</title>
</head>
<body>
	<h2>what articles are in Satellite's database?</h2>
	<p>
		the most recent it knows about was published on {{pub_date_newest}}
		<br/>
		the oldest it knows about was published on {{pub_date_oldest}}
	</p>

	<div>
		<table>
			<thead>
				<tr>
					<th>Headline</th>
					<th>Author</th>
					<th>Ticker</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
			{% for art in articles %}
			<tr>
				<td><a href='{{art.url}}'>{{art.title}}</a></td>
				<td>{{art.author}}</td>
				<td>{{art.ticker}}</td>
				<td>{{art.date_pub}}</td>
			</tr>
			{% endfor %}
			</tbody>
	</div>


	<div class="pagination">
	    <span class="step-links">
	        {% if articles.has_previous %}
	            <a href="?page={{ articles.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
	        </span>

	        {% if articles.has_next %}
	            <a href="?page={{ articles.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>

	<div>
		<a href='/sol/extras/'><button type='button'>take me to the Extras overview</button></a>

		<a href='/sol/articles_vomit/'><button type='button'>take me to the very first page of results</button></a>
	</div>
</div>
</body>
</html>