{% extends 'satellite/_base_layout.html' %}

{% block container_contents %}
<div align='center'; style='font-family:Verdana, Arial, Helvetica, sans-serif'>
	<h1>Welcome to the Satellite</h1>
	<p><em>Captain's log: A bunch of our ship fell off, and nobody likes me.</em></p>
<table>
	<tr>
		<td align="center" style="padding: 30px;">
			<p><button type="button"><a href="/sol/ticker_world/"><h4>Current Top Gainers</h4></a></button></p>
		</td>
		<td align="center" style="padding: 30px;">
		<p><button type="button"><a href="/sol/ticker_world/biggest_losers/"><h4>Current Top Losers</h4></a></button></p>
		</td>
		<td align="center" style="padding: 30px;">
			<p><button type="button"><h4>Service Overview</h4></button></p>
		</td>
		<td align="center" style="padding:30px;">
			<p><button type="button"><a href="/sol/ticker_world/earnings_date_sort">
			<h4>Upcoming Earnings Dates</h4></a></button></p>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 30px;">
			<p><button type="button"><h4>Yesterday's Coverage</h4></button></p>
		</td>
		<td align="center" style="padding: 30px;">
			<p><button type="button"><h4>Today's Coverage</button></h4></p>
		</td>
		<td align="center" style="padding: 30px;">
			<p><button type="button"><h4>Coming Up</h4></button></p>
		</td>
		<td align="center" style="padding: 30px">
			<p><button type="button"><a href="/sol/ticker_world/all_tickers/"><h4>Find a Ticker</h4></a></button></p>
		</td>
	</tr>
</table>



<p>The current top gainer across all premium services is X. The top loser is Y.</br>
	The most recent published article is Z.</p>
	<p><img src="http://g.foolcdn.com/editorial/images/150992/silhouettes_large.png"></p>
</div>
{% endblock container_contents %}

