<html>
<head>
<title>Satellite of LOVE</title>
</head>
<body>
	<div align='center'; style='font-family:Verdana, Arial, Helvetica, sans-serif'>
		<h3>A bunch of our ship fell off, and nobody likes me.</h3>
		<table>
			<tr>
				<td>
					<p><a href="{% url 'everything_about_articles' %}">Everything you ever wanted to know about articles</a></p>
				</td>
				<td>
					~~~
				</td>
				<td>
					<p><a href="{% url 'ticker_world' %}">Everything you ever wanted to know about tickers</a></p>
				</td>
			</tr>
		</table>
	</div>
</body>		
</html>