<html>
<head>
	<title>index of articles</title>
	<style>
		select.service-select-tall{
			min-height: 210px;
		}
	</style>
</head>
<body>
	<h2>Article matches</h2>


	
		
	<div>
		<table>
			<tr>
				<td style='vertical-align:top'>
					how many articles are represented? {{num_articles}}
					<br/>
					the most recent article in this result set was published on {{pub_date_newest}}
					<br/>
					the oldest article in this results set was published on {{pub_date_oldest}}
					<br/>
					how many authors are represented? {{num_authors}}

					{% if service_filter_description or ticker_filter_description %}
					<div style='background-color:lightgray;width:500px;margin:12px 2px;'>
						These results are filtered.
						<br/>

						{% if service_filter_description %}
						<br/>
						service filter: <strong>{{service_filter_description}}</strong>
						<br/>
						{% endif %}
						
						{% if ticker_filter_description %}
						<br/>
						ticker filter: <strong>{{ticker_filter_description}}</strong>
						<br/>
						{% endif %}

						<br/>
						<a href='/sol/articles_vomit/'><button type='button'>Remove filter</button></a>
						<br/>

						*known bug: if the results span more than one page... sorry, but we lose the filter when advancing to subsequent pages. 
					</div>
					{% endif %}
				</td>
				<td>
					<div style='padding-left:15px;'>
						Filter options
						<form action="" method="post">
							{% csrf_token %}
							<hr/>
							Tickers:<br/>
							{{form.tickers}}
							<br/>
							<br/>
							Services:<br/>{{form.services}}
							<hr/>
							 <input type="submit" value="Apply filter">
						</form>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div>
		<table>
			<thead>
				<tr>
					<th>Headline</th>
					<th>Author</th>
					<th>Ticker</th>
					<th>Date</th>
					<th>Service</th>
				</tr>
			</thead>
			<tbody>
			{% for art in articles %}
			<tr>
				<td><a href='http://{{art.url}}'>{{art.title}}</a></td>
				<td>{{art.author}}</td>
				<td>{{art.ticker}}</td>
				<td>{{art.date_pub}}</td>
				<td>{{art.service.pretty_name}}</td>
			</tr>
			{% endfor %}
			</tbody>
	</div>


	<div class="pagination">
	    <span class="step-links">
	        {% if articles.has_previous %}
	            <a href="?page={{ articles.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
	        </span>

	        {% if articles.has_next %}
	            <a href="?page={{ articles.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>

</div>
</body>
</html>