{% extends 'satellite/_base_layout.html' %}

{% block container_contents %}

<div align='center'; style='font-family:Verdana, Arial, Helvetica, sans-serif'>
	<h1>Welcome to the Satellite</h1>
	<p><em><font size=3>Explore Foolish premium coverage live and in color!</em></p>
<table>
	<tr align="center">
		<td align="center" style="padding: 30px;">
		<p><button type="button"><a href="{% url 'service_overview' %}"><h4>Service Overview</h4></a></button></p>
		</td>
		<td align="center" style="padding:30px;">
		<p><button type="button"><a href="{% url 'upcoming_earnings' %}">
		<h4>Upcoming Earnings</h4></a></button></p>
		</td>
		<td align="center" style="padding: 30px;">
		<p><button type="button"><h4><a href="{% url 'articles_index' %}">All Articles</a></h4></button></p>
		</td>
		<td align="center" style="padding: 30px">
		<p><button type="button"><a href="{% url 'ticker_overview' %}"><h4>All Tickers</h4></a></button></p>
		</td>
		<td align="center" style="padding: 30px;">
		<p><button type="button"><h4>Coverage Overview</button></h4></p>
		</td>
	</tr>
</table>


<p>The current biggest gainer across all premium services is <b>
	{{gainer.company_name}}</b> ({{gainer.ticker_symbol}}), up {{gainer.daily_percent_change}}%.
	<a href="{% url 'articles_index' %}?tickers={{gainer.ticker_symbol}}" target='_blank'>Coverage</a><br/>
	The biggest loser is <b>{{loser.company_name}}</b> ({{loser.ticker_symbol}}), down {{loser.daily_percent_change}}%.
	<a href="{% url 'articles_index' %}?tickers={{loser.ticker_symbol}}" target='_blank'>Coverage</a></br>
	The most recently published article is <a href="http://{{latest.url}}" target="blank">{{latest.title}}</a> in <em>{{latest.service}}</em>.<br/>
	<br/>
	<em>Information is updated every 10 minutes or so</em>. <a href="{% url 'data_freshness' %}" target="_blank">See data freshness</a></p>
	<p><img src="http://g.foolcdn.com/editorial/images/150992/silhouettes_large.png"></p>
</div>
<p><a href="{% url 'author_bylines' %}">Author index</a> | <a href="/sol/flagged_recs/">Flagged recs</a> | <a href="{% url 'tiered_stocks' %}">Tiered stocks</a>
</p>
{% endblock container_contents %}

