<html>
<head>
	<title>Info by Scorecard</title>
</head>
<body>

	<h2>Today's Movers by Scorecard:
		{% if scorecard_match %}
		<strong>{{scorecard_match}} | XXXX</strong>.
		{% else %}
		There is no scorecard here
		{% endif %}</h2>

<p>

{% for tm in ticker_matches_list %}

	{{tm.daily_percent_change}} | {{tm.company_name}} | {{tm.exchange_symbol}} | {{tm.ticker_symbol}}
<br/>
<strong>Notes:</strong> {{tm.notes}}<br />

<form action="/sol/edit_notes/" method="post" id="edit_notes">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Edit notes" />
</form>

    </body>

{% endfor %}

</p>


</body>
</html>