<html>
<head>
	<title>Welcome to Ticker World. 
		{% if service_filter_description %}
		These results are for {{service_filter_description}}.
		{% else %}
		You're seeing everything.
		{% endif %}</title>
</head>
<body>
{{tickers_to_keep}}
	<h2>Welcome to Ticker World. 
		{% if service_filter_description %}
		These results are for {{service_filter_description}}.
		{% else %}
		You're seeing everything.
		{% endif %}
	</h2>
	<table>
		<tr>
			<td align="center"><ul>Top 10 Gainers ~~~~~~~~~~</ul>
				{% for t in top_10_gainers %}
				{{t.ticker_symbol}}: {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td align="center"><ul>Top 10 Losers ~~~~~~~~~~</ul>
				{% for t in top_10_losers %}
				{{t.ticker_symbol}}: {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
			<td align="center"><ul>Upcoming Earnings Announcements ~~~~~~~~~~~</ul>
				{% for t in tickers_sorted_by_earnings_date %}
				{{t.ticker_symbol}}: {{t.earnings_announcement}}<br/>
				{% endfor %}
			</td>
			<td>
	<div style='width:200px;padding:15px;background-color:lightgray;align:right;'>
			<form action="" method="post">
				{% csrf_token %}
				<strong>Filter by ticker:</strong>
				{{form.tickers}} <input type="submit" value="Apply filter"><br/>
				<br/>
				<strong>Filter by service:</strong>
				{{form.services}}  <input type="submit" value="Apply filter">
			</form>
			<p><strong><u>Active filters</u>  </strong><br/>
			{% if service_filter_description %}
			<strong>Service:  </strong>{{service_filter_description}}
			{% endif %}<br/>
			{% if ticker_filter_description %}
			<strong>Ticker:  </strong>{{ticker_filter_description}}
			{% endif %}<br/>
			<a href="{% url 'movers_by_service' %}"><button type='button'>Remove filters</button></a></p>
			<p><strong>Number of tickers:</strong> {{num_tickers}}
			</p>
		</div>
			</td>
		</tr>

	</table>
</div>
	<hr />

<p><em>These are sorted by daily percentage change, with the highest at the top. 
Perhaps someday they could be secondarily sorted by tier status. </em></p>

<p>
<hr/>
{% for t in tickers %}
	<img align="middle" width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>   <span style='background-color:yellow'>{{t.daily_percent_change}}%</span> | <strong>{{t.company_name}}</strong> | {{t.exchange_symbol}}: <strong>{{t.ticker_symbol}}</strong>
<br/>
<strong>Scorecards with this ticker</strong>: {{t.scorecards_for_ticker}} | <strong>Tier</strong>: Tier goes here | <strong>Next earnings date</strong>: {{t.earnings_announcement}} <br />
<form action="" method="post">
    {% csrf_token %}
    <strong>Notes:</strong><br/>
    <textarea cols=150 rows=5 id = "edit_notes" name="ticker_notes_{{t.ticker_object.id}}"/>{{ t.ticker_object.notes|default_if_none:''}}</textarea></br>
    <input type="submit" value="Edit notes">
	</p>
	<p>
	<a href="{% url 'everything_about_articles'%}?tickers={{t.ticker_symbol}}" target='_blank'>articles</a>
	<hr/>
</form>
</p>
{% endfor %}


</body>
</html>