<html>
<head>
	<title>Welcome to TickerWorld. 
		{% if service_filter_description %}
		These results are for {{service_filter_description}}.
		{% else %}
		You're seeing everything.
		{% endif %}</title>
</head>
<body>

	<h2>Welcome to TickerWorld. 
		{% if service_filter_description %}
		These results are for {{service_filter_description}}.
		{% else %}
		You're seeing everything.
		{% endif %}
	</h2>
	<table>
		<tr>
			<td align="center"><ul>Top 10 Gainers ~~~~~~~~~~</ul>
				{% for t in top_10_gainers %}
				{{t.ticker_symbol}}<br/>
				{% endfor %}
			</td>
			<td align="center"><ul>Top 10 Losers ~~~~~~~~~~</ul>
				{% for t in top_10_losers %}
				{{t.ticker_symbol}}<br/>
				{% endfor %}</td>
			<td align="center"><ul>Upcoming Earnings Announcements ~~~~~~~~~~~</ul>
				{% for t in upcoming_earnings_announcements %}
				{{t.ticker_symbol}}: {{t.earnings_announcement}}<br/>
				{% endfor %}
			</td>
		</tr>
	</table>
<p>
	<div style='padding:15px;background-color:lightgray'>
		<form action="" method="post">
			{% csrf_token %}
			<strong>Filter by ticker:</strong> ~coming soon~ 
			{{form.tickers}} | 
			<strong>Filter by service:</strong> ~coming soon~
			{{form.services}}  <input type="submit" value="Apply filter">
		</form>
		<p><strong>Active filters:  </strong>
		{% if service_filter_description %}
		<strong>service filter: ~coming soon~ </strong>{{service_filter_description}}
		<strong>ticker filter: ~coming soon~ </strong>{{ticker_filter_description}}
		{% endif %}
		<a href="{% url 'movers_by_service' %}"><button type='button'>Remove filter</button></a>
		<br/>
	</div>
</div>
</p>
	<p><strong>Number of tickers:</strong> {{num_tickers}} | <strong>Filters:</strong> {{service_filter_description}}</p>
	<hr />

<p><em>These are sorted by daily percentage change, with the highest at the top. 
Perhaps someday they could be secondarily sorted by tier status. </em></p>

<p>
<hr/>
{% for t in tickers %}
	<img align="middle" width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>   <span style='background-color:yellow'>{{t.daily_percent_change}}%</span> | <strong>{{t.company_name}}</strong> | {{t.exchange_symbol}}: <strong>{{t.ticker_symbol}}</strong>
</p>

<p>
<strong>Scorecards with this ticker</strong>: {{t.scorecards_for_ticker}} | <strong>Tier</strong>: Tier goes here | <strong>Next earnings date</strong>: {{t.earnings_announcement}} <br />
<form action="" method="post">
    {% csrf_token %}
    <strong>Notes:</strong><br/>
    <textarea cols=150 rows=5 id = "edit_notes" name="ticker_notes_{{t.ticker_object.id}}"/>{{ t.ticker_object.notes|default_if_none:''}}</textarea></br>
    <input type="submit" value="Edit notes">
	</p>
	<p>
	<a href="{% url 'everything_about_articles'%}?tickers={{t.ticker_symbol}}" target='_blank'>articles</a>
	<hr/>
</form>
</p>
{% endfor %}


</body>
</html>