<html>
<head>
	<title>Biggest Movers:
		{% if service_filter_description %}
		{{service_filter_description}}
		{% else %}
		All (Zool)
		{% endif %}</title>
</head>
<body>

	<h2>Biggest Movers:
		{% if service_filter_description %}
		<strong>{{service_filter_description}}</strong>
		{% else %}
		All (There is no scorecard, only Zool)
		{% endif %}</h2>
<p><em>These are sorted by daily percentage change, with the highest at the top.</br>
Perhaps someday they could be secondarily sorted by tier status. </em></p>
<div style='background-color:lightgray'>
<p>
	<strong>Filter the results!</strong>
			<form action="" method="post">
				{% csrf_token %}

					Service(s):
					{% for s in service_options %}
					&nbsp; <input type="checkbox" name="filter_service_{{s.id}}" value="{{s.id}}">{{s.pretty_name}}  
					{% endfor %}
					<br/>
					<br/>
				 <input type="submit" value="Filter!">
			</form>
		</p>
</div>
	<p><strong>Number of tickers:</strong> {{num_tickers}} | <strong>Filters:</strong> {{service_filter_description}}</p>
	<hr />

<p>
</p>

<p>
<hr/>
{% for t in tickers %}
	<img align="middle" width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>   <span style='background-color:yellow'>{{t.daily_percent_change}}%</span> | <strong>{{t.company_name}}</strong> | {{t.exchange_symbol}}: <strong>{{t.ticker_symbol}}</strong>
</p>

<p>
<strong>Scorecards with this ticker</strong>: {{t.scorecards_for_ticker}} | <strong>Tier</strong>: Tier goes here | <strong>Next earnings date</strong>: {{t.earnings_announcement}} <br />
<form action="" method="post">
    {% csrf_token %}
    <strong>Notes:</strong><br/>
    <textarea cols=150 rows=5 id = "edit_notes" name="ticker_notes_{{t.ticker_object.id}}"/>{{ t.ticker_object.notes|default_if_none:''}}</textarea></br>
    <input type="submit" value="Edit notes">
	</p>
	<p>
	<em>Maybe this takes you to the most recent articles for each ticker?</em>
	<hr/>
</form>
</p>
{% endfor %}

</body>
</html>