{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Service Overview
{% endblock %}

{% block container_contents %}

<h2>Foolish Services at a Glance</h2>
<hr/>

<table>
	<tr>
		<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Fool One</font>
		<table>
			<tr>
			<td style="width: 150px;">
				<b><u>Gainers</u></b></br>
				{% for t in fool_one_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
			<b><u>Losers</u></b><br/>
			{% for t in fool_one_losers %}
			<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
			{% endfor %}</td>
			<td style="width: 150px;">
			<b><u>Upcoming Earnings</b></u><br/>
			{% for t in fool_one_earnings %}
			<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.earnings_announcement|date:"M d"}}<br/>
			{% endfor %}
			</td>
			</tr>
		</table>
		<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Supernova</font>
		<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in supernova_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width:150px;">
				<b><u>Losers</u></b><br/>
				{% for t in supernova_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for t in supernova_earnings %}
					<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
		</table>
	</tr>
	<tr>
			<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Pro</font>
			<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in pro_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
				<b><u>Losers</u></b><br/>
				{% for t in pro_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for t in pro_earnings %}
					<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
			</table>
			<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>MDP</font>
			<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in mdp_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
				<b><u>Losers</u></b><br/>
				{% for t in mdp_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for t in mdp_earnings %}
					<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
			</table>
		</tr>
	</tr>
	<tr>
		<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Stock Advisor</font>
		<table>
			<tr>
			<td style="width: 150px;">
				<b><u>Gainers</u></b></br>
				{% for t in stock_advisor_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
			<b><u>Losers</u></b><br/>
			{% for t in stock_advisor_losers %}
			<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
			{% endfor %}</td>
			<td style="width: 150px;">
				<b><u>Upcoming Earnings</b></u><br/>
			{% for u in stock_advisor_earnings %}
			<b>{{u.ticker_symbol}}</b>,
			{{u.earnings_announcement}}<br/>
			{% endfor %}
			</td>
			</tr>
		</table>
		<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Rule Breakers</font>
		<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in rule_breakers_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width:150px;">
				<b><u>Losers</u></b><br/>
				{% for t in rule_breakers_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for u in rule_breakers_earnings %}
					<b>{{u.ticker_symbol}}</b>,
					{{u.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
		</table>
	</tr>
	<tr>
			<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Income Investor</font>
			<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in income_investor_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
				<b><u>Losers</u></b><br/>
				{% for t in income_investor_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for u in income_investor_earnings %}
					<b>{{u.ticker_symbol}}</b>,
					{{u.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
			</table>
			<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Inside Value</font>
			<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in inside_value_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
				<b><u>Losers</u></b><br/>
				{% for t in inside_value_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for u in inside_value_earnings %}
					<b>{{u.ticker_symbol}}</b>,
					{{u.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
			</table>
		</tr>
	</tr>
<tr>
			<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Hidden Gems</font>
			<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in hidden_gems_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
				<b><u>Losers</u></b><br/>
				{% for t in hidden_gems_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for u in hidden_gems_earnings %}
					<b>{{u.ticker_symbol}}</b>,
					{{u.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
			</table>
			<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Special Ops</font>
			<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in special_ops_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
				<b><u>Losers</u></b><br/>
				{% for t in special_ops_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for u in special_ops_earnings %}
					<b>{{u.ticker_symbol}}</b>,
					{{u.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
			</table>
		</tr>
	</tr>
	<tr>
			<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Deep Value</font>
			<table>
			<tr>
				<td style="width: 150px;">
				<p><b><u>Gainers</u></b><br/>
				{% for t in deep_value_gainers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}
			</td>
			<td style="width: 150px;">
				<b><u>Losers</u></b><br/>
				{% for t in deep_value_losers %}
				<b><a href="/sol/ticker_world/all_tickers/#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a></b>, {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
				<td style="width: 150px;">
					<b><u>Upcoming Earnings</b></u><br/>
					{% for u in deep_value_earnings %}
					<b>{{u.ticker_symbol}}</b>,
					{{u.earnings_announcement}}<br/>
					{% endfor %}
				</td>
			</tr>
			</table>
			<td align="center" style="padding: 20px; min-width: 400px;"><font size=4>Options</font>
			<table>
			<tr>
			<td>Options info may or may not be coming soon</td>
			</tr>
			</table>
		</tr>
	</tr>
</table>


<hr/>



{% endblock container_contents %}