{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
All Tickers
{% endblock %}

{% block container_contents %}

{% load number_of_services_tags %}

<h3>All Tickers</h3>
<p>Click any header to sort. <em>Coverage links don't work quite yet. Stand by.</em></p>
<hr/>
<div>
<table id='ticker_table' class="table table-striped table-bordered">
	<thead>
		<tr>
			<th width='15%'>Company</th>
			<th width='5%'>Ticker</th>
			<th width='5%'>% change today</th>
			<th width='15%'>Services</th>
			<th width='5%'>Tier</th>
			<th width='10%'>Next Earnings Date</th>
			<th width='30%'>Notes</th>
			<th width='10%'>Coverage</th>
		</tr>
	</thead>

	<tbody class=''>
		{% for t in tickers %}
		<tr>
			<td>
				<strong>{{t.company_name}}</strong><br/>
					<img width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>
			</td>
			<td>
				<strong>{{t.ticker_symbol}}</strong>
				<br/>
				<small>{{t.exchange_symbol}}</small>
			</td>
			<td>{{t.daily_percent_change}}%</td>
			<td>
				{% get_number_of_services t as number_of_services %}
				{% ifnotequal number_of_services 0 %}
				<strong>{{number_of_services}}</strong>:
					<em>{{t.services_for_ticker}}</em>
				{% else %}
				<strong>0</strong>
				{% endifnotequal %}
			</td>
			{% if t.tier %}
			<td style='background-color:lightyellow'>
				{{t.tier}} ({{t.tier_status}})
			</td>
			{% else %}
			<td/>
			{% endif %}
			<td>{{t.earnings_announcement|date:"Y-m-d"|lower }}</td>
			<td>{{t.notes|default_if_none:''}}<br/><a href="{{t.ticker_symbol}}">Edit</a></td>
			<td><a href="">View/Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

{% endblock container_contents %}


{% block script_block %}
{{ block.super }}

<!-- http://www.datatables.net/ -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script>

    $(function() {
		// order by the ticker symbol (column index 1) and default to showing all tickers
		$('#ticker_table').dataTable( {
	        "order": [[ 1, "asc" ]],
	        "lengthMenu": [[-1,50,100], ["All",50,100]]
	    } );

    });
</script>
{% endblock script_block %}
