{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
All Tickers
{% endblock %}

{% block container_contents %}

<h3>All Tickers</h3>
<p><strong>[Under construction] Sort by:</strong> A-Z | <u>Up today</u> | Down today | Tier | Earnings date</p>
		<div style='padding:15px;background-color:lightgray'>
			<form action="" method="post">
				{% csrf_token %}
				<strong>Filter by ticker(s):</strong><br/>
				{{form.tickers}}<br/>
				<strong>Filter by service(s):</strong><br/>
				{{form.services}}<br/>
				<em>Ctrl/Cmd+click to select more than one</em>.<br/>
				<input type="submit" value="Apply filter">
			</form>
			Number of tickers: {{num_tickers}}
		</div>
<hr/>
{% for t in tickers %}
<h4>{{t.company_name}}</h4>
<p id="{{t.ticker_symbol}}">
	<img width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>&nbsp;&nbsp;<span style='background-color:#f4f4ae'>{{t.daily_percent_change}}%</span> | {{t.exchange_symbol}}: <a href='http://www.fool.com/quote/1255/{{t.ticker_symbol}}' target='_blank'><strong>{{t.ticker_symbol}}</strong></a>
<br/>
<strong>Scorecards with this ticker</strong>: {{t.scorecards_for_ticker}} |
{% if t.tier %} <span style="background-color:yellow"><strong>Tier</strong>: {{t.tier}} ({{t.tier_status}})</span> |{% endif %} <strong>Next earnings date</strong>: {{t.earnings_announcement}}<br/>
<a href="{% url 'everything_about_articles'%}?tickers={{t.ticker_symbol}}" target='_blank'>Premium coverage</a><br />
</p>
<p>
	<form action="/sol/ticker_world/" method="post">
    {% csrf_token %}
    <strong>Notes:</strong><br/>
    <textarea cols=100 rows=5 id = "edit_notes" name="ticker_notes_{{t.ticker_symbol}}"/>{{ t.notes|default_if_none:''}}
	</textarea></br>
    <input type="submit" value="Edit notes"></span>
</form>
</p>
<hr/>
{% endfor %}
{% endblock container_contents %}
