{% extends 'satellite/_base_layout.html' %}

{% block container_contents %}

<h3>{{title_value}}</h3>
<a href="{% url 'ticker_overview' %}"><small>back to all tickers</a> | <a href="{% url 'upcoming_earnings' %}">back to upcoming earnings</a>
<hr/>
<div>
	<form method='POST'>
		{% csrf_token %}
		<table>
			{{form.as_table}}
		</table>
		<input type="submit" value="Save" />
	</form>
</div>
<hr/>
<div style='float:right'>
<small><em>{% now "F d, Y H:i" %}</em></small>
</div>
{% endblock container_contents %}
