{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Biggest Movers
{% endblock %}

{% block container_contents %}

	{% if sort_by_daily_percent_change %}

	<h2>Today's Top Gainers</h2>
	<p>
	You're seeing what's up
	in 
		{% if service_filter_description %}
			<em>{{service_filter_description}}</em>.
		{% else %}
			all Foolish premium services.
		{% endif %}

		<a href="/sol/ticker_world/biggest_losers/">See what's down instead</a>

	{% elif sort_by_biggest_losers %}
		<h2>Today's Top Losers</h2>
		<p>
			You're seeing what's down in 
		{% if service_filter_description %}
			<em>{{service_filter_description}}</em>.
		{% else %}
			all Foolish premium services.
		{% endif %}

		<a href="/sol/ticker_world/">See what's up instead</a>
	</p>

	{% else %}
		<h2>Upcoming Earnings Dates
			{% if service_filter_description %}:
			 {{service_filter_description}}
			{% endif %}</h2>
	{% endif %}

</p>
		<div style='padding:15px;max-height:220px;background-color:lightgray'>
			<form action="" method="post">
				{% csrf_token %}
				<strong>Filter by service(s):</strong>&nbsp;
				{{form.services}}
				<em>Ctrl/Cmd+click to select more than one</em>.
				<input type="submit" value="Apply filters">
			</form>
			{% if sort_by_daily_percent_change %}
			<a href="/sol/ticker_world/">Remove filters </a>
			{% elif sort_by_biggest_losers %}
			<a href="/sol/ticker_world/">Remove filters</a>
			{% else %}
			<a href="/sol/ticker_world/earnings_date_sort">Remove filters</a> {% endif %} | Number of tickers: {{num_tickers}}
		</div>
</p>

<hr/>
{% for t in tickers %}
<h4>{{t.company_name}}</h4>
<p id="{{t.ticker_symbol}}">
	<img width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>&nbsp;&nbsp;<span style='background-color:yellow'>{{t.daily_percent_change}}%</span> | {{t.exchange_symbol}}: <a href='http://www.fool.com/quote/1255/{{t.ticker_symbol}}' target='_blank'><strong>{{t.ticker_symbol}}</strong></a>
<br/>
<strong>Scorecards with this ticker</strong>: {{t.scorecards_for_ticker}} | <strong>Tier</strong>: Tier goes here | <strong>Next earnings date</strong>: {{t.earnings_announcement}}<br/>
<a href="{% url 'everything_about_articles'%}?tickers={{t.ticker_symbol}}" target='_blank'>Premium coverage</a><br />
</p>
<p>
	<form action="/sol/ticker_world/" method="post">
    {% csrf_token %}
    <strong>Notes:</strong><br/>
    <textarea cols=100 rows=5 id = "edit_notes" name="ticker_notes_{{t.ticker_symbol}}"/>{{ t.notes|default_if_none:''}}
	</textarea></br>
    <input type="submit" value="Edit notes"></span>
</form>
</p>
<hr/>
{% endfor %}
{% endblock container_contents %}
