{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Tiered Stocks
{% endblock %}

{% block container_contents %}

<h3>Tiered Stocks</h3>
		<p>
			<form action="" method="post">
				{% csrf_token %}
				<strong>Filter by service(s):</strong><br/>
				{{tiered_filter_form.services}}<br/>
				<em>Ctrl/Cmd+click to select more than one</em>.<br/>
				<strong>Filter by tier status:</strong>&nbsp;
				{{tiered_filter_form.tier_status}}<br/>
				{% if service_filter_description or tier_filter_description %}
					 Active filters: {{tier_filter_description}}, {{service_filter_description}}<br/>
					{% endif %}
				<input type="submit" value="Filter">
			</form>
		</p>
<div>
		<table class='listTable'>
			<thead>
				<tr style='text-align:left'>
					<th width='20%'>Company Name</th>
					<th width='10%'>Ticker</th>
					<th width='10%'>Tier Status</th>
					<th width='10%'>Scorecards</th>
					<th width='30%'>Notes</th>
				</tr>
			</thead>
			<tbody>
			{% for t in tiered_stocks %}
			<tr>
				<td><a href="http://{{article_defn.article.url}}' target='_blank'">{{t.company_name}}&nbsp;<img width='24px' src='http://g.foolcdn.com/art/companylogos/mark/{{t.ticker_symbol}}.png' alt='{{t.ticker_symbol}}'/></a></td>
				<td>
					{{t.ticker_symbol}}
				</td>
				<td>
					{{t.tier_status}}
				</td>
				<td><em>{{t.scorecards_for_ticker}}</em></td>
				<td>
					<form action="/sol/ticker_world/" method="post">
					{% csrf_token %}
					<textarea cols=100 rows=5 id = "edit_notes" name="ticker_notes_{{t.ticker_symbol}}"/>{{ t.notes|default_if_none:''}}
					</textarea></br>
					<input type="submit" value="Edit notes" href="/sol/tiered_stocks/"></span>
					</form>
				</td>
				</tr>
			{% endfor %}
		</tbody>
	</div>


{% endblock %}	
