{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Tiered Stocks
{% endblock %}

{% block container_contents %}

<h3>Tiered Stocks</h3>

<div>
		<table class='listTable'>
			<thead>
				<tr style='text-align:left'>
					<th width='20%'>Company Name</th>
					<th width='10%'>Ticker</th>
					<th width='10%'>Tier Status</th>
					<th width='10%'>Services</th>
					<th width='20'>Recent Coverage</th>
					<th width='30%'>Notes</th>
				</tr>
			</thead>
			<tbody>
			{% for t in tiered_stocks %}
			<tr>
				<td><a href="http://{{article_defn.article.url}}' target='_blank'">{{t.company_name}}</a></td>
				<td>
					<img width='24px' src='http://g.foolcdn.com/art/companylogos/mark/{{t.ticker_symbol}}.png' alt='{{t.ticker_symbol}}'/>&nbsp;{{t.ticker}}
				</td>
				<td>
					{{t.tier_status}}
				</td>
				<td>{{t.services_for_ticker}}</td>
				<td>Recent Coverage</td>
				<td>{{t.notes}}</td>
			</tr>
			{% endfor %}
			</tbody>
	</div>


{% endblock %}	
