{% extends 'satellite/_base_layout.html' %}

{% block title_value %}
SOL: Top Gainers
{% endblock %}

{% block container_contents %}

	<h2>
	{% if top_gainers %}
	Current Top Gainers for
		{% if service_filter_description %}
		{{service_filter_description}}
		{% else %}
		All Premium Services
		{% endif %}
	{% else %}
	Current Top Losers for
		{% if service_filter_description %}
		{{service_filter_description}}
		{% else %}
		All Premium Services
		{% endif %}
	{% endif %}	
	</h2>
<hr/>

<div style='padding:15px;background-color:lightgray'>
	<p>
		<form action="" method="post">
				{% csrf_token %}
				<strong>Filter by service(s):</strong>&nbsp;&nbsp;
				{{form.services}}&nbsp;&nbsp;<input type="submit" value="Apply filter">&nbsp;&nbsp;(<em>Ctrl/Cmd+click to select more than one</em>.)
		</form>
		<br/>
		<strong>Active filters:  </strong>
			{% if service_filter_description %}
			<em>{{service_filter_description}}</em>
			{% endif %}
	</p>
		<p><a href="/sol/ticker_world/top_gainers/"><button type='button'>Remove filters</button></a></p>
</div>

	<table>
		<tr>
		<td style="padding: 10px;">
			<p>
				{% for t in top_gainers %}
				<span style='background-color:yellow'>{{t.daily_percent_change}}%</span> | <strong>{{t.ticker_symbol}}</strong> | {{t.company_name}} <a href="#{{t.ticker_symbol}}">(Notes)</a> | {{t.services_for_ticker}}
				<br/>
				BBN, new, and core status<br/></p>
				{% endfor %}
		</td>

{% if top_gainers %}
        	<p> These are sorted by <strong>current percent change</strong>. <button type="button"><a href="/sol/ticker_world/earnings_date_sort">
        	Sort by upcoming earnings date</button></a></p>
    		{% else %}
        	<p>These are sorted by <strong>upcoming earnings date</strong>.&nbsp;&nbsp;&nbsp;<button type="button"><a href="/sol/ticker_world/">Sort by current percent change</button></a></p>
    		{% endif %}











		<td style="padding:50px;" align="center">
			<strong>Currently Down</strong><br/>
				{% for t in top_losers %}
				<a href="#{{t.ticker_symbol}}">{{t.ticker_symbol}}</a>: {{t.daily_percent_change}}%<br/>
				{% endfor %}</td>
			</tr>
	</table>

	{% endblock container_contents %}