{% extends 'satellite/_base_layout.html' %}

{% load number_of_services_tags %}

{% block title_value %}
Upcoming Earnings
{% endblock %}

{% block container_contents %}

<p><strong>Filter by ticker(s):</strong> ___Coming soon____</p>

<h3>Upcoming Earnings Dates</h3>
<table>
	<tr>
		<td><strong>Ticker</strong></td>
		<td><strong>Services</strong></td>
		<td><strong>Earnings Date</strong></td>
	</tr>
{% for t in tickers_sorted_by_earnings_date %}
	<tr>
		<td>
			<strong>{{t.ticker_symbol}}</strong> ({{t.company_name}})<br/>
		</td>
		<td>
			{% get_number_of_services t as number_of_services %}
			<strong>{{number_of_services}}</strong>:
			<em>{{t.services_for_ticker}}</em>
		</td>
		<td>
			{{t.earnings_announcement}}<br/>
		</td>
	</tr>
{% endfor %}
</table>

{% endblock container_contents %}