{% extends 'satellite/_base_layout.html' %}

{% load number_of_services_tags %}

{% block title_value %}
Upcoming Earnings
{% endblock %}

{% block container_contents %}

<h3>Upcoming Earnings Dates</h3>
	<p>Click any header to sort</p>
	<hr/>
	<div>

<table id='earnings_date_table' class="table table-striped table-bordered">
	<thead>
		<tr>
			<th width='25%'>Company</th>
			<th width='25%'>Services</th>
			<th width='10%'>Earnings Date</th>
			<th width='40%'>Notes</th>
		</tr>
	</thead>
		<tbody class=''>
{% for t in tickers_sorted_by_earnings_date %}
	<tr>
		<td>
			<strong>{{t.ticker_symbol}}</strong><br/>
			{{t.company_name}}
				<img align="right" width='40px' src='http://g.foolcdn.com/art/companylogos/mark/{{t}}.png' alt='{{t.ticker_symbol}}'/>
		</td>
		<td>
			{% get_number_of_services t as number_of_services %}
			{% ifnotequal number_of_services 0 %}
			<strong>{{number_of_services}}</strong>:
			<em>{{t.services_for_ticker}}</em>
			{% else %}
			<strong>0</strong>
			{% endifnotequal %}<br/>
			{% if t.tier %}
			<span style='background-color:yellow'>
				Tier {{t.tier}}</span>
			{% else %}
			</span>
			{% endif %}
		</td>
		<td>
			{{ t.earnings_announcement|date:"Y-m-d" }}<br/>
		</td>
		<td>
			{{t.notes|default_if_none:''}}<br/><a href="/sol/tickers/{{t.ticker_symbol}}">Edit</a>
	</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock container_contents %}

{% block script_block %}
{{ block.super }}

<!-- http://www.datatables.net/ -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.9/sorting/datetime-moment.js"></script>

<script>

    $(function() {
		$('#earnings_date_table').dataTable( {
	        "order": [ 2, "asc" ],
	        "lengthMenu": [ 50,100,200,"All" ],
	    });
    });

</script>
{% endblock script_block %}
