{% extends 'risk_ratings/index.html' %}

{% block body_container %}
<form id='feedback_form' method='POST'>
{% csrf_token %}

<div class='row'>
<div class='col-md-8 col-md-offset-2'>
<h2>Feedback Form</h2>
<p>Submit public feedback for the team.</p>
{{ form.non_field_errors }}
<div class='well'>
  <table class='table'>
    <tr>
      <td width='15'>{{form.name.label}} </td>
      <td>
        {% if form.name.errors %}
          <span style='color: blue'>{{form.name.errors|striptags}}</span>
          <br/>
        {% endif %}
        {{form.name}}
      </td>
    </tr>
    <tr>
      <td>{{form.email.label}} </td>
      <td>
        {% if form.email.errors %}
          <span style='color: blue'>{{form.email.errors|striptags}}</span>
          <br/>
        {% endif %}
        {{form.email}}
      </td>
    </tr>
    <tr>
      <td>{{form.comments.label}} </td>
      <td>
        {% if form.comments.errors %}
          <span style='color: blue'>{{form.comments.errors|striptags}}</span>
          <br/>
        {% endif %}
        {{form.comments}}</td>
    </tr>
    <tr>
      <td/>
      <td><input type='submit'></td>
    </tr>
  </table>
</div>

</div>
</form>

</div>
<div class='row'>
<div class='col-md-10 col-md-offset-1'>
<h3>Received Feedback</h3>
<table class='table'>
  <thead>
  <tr>
    <th draggable=""width='180'>Name</th>
    <th>Comments</th>
    <th width='120'></th>
  </tr>
  </thead>
{% if feedbacks %}
{% for feedback in feedbacks %}
<tr>
  <td >
    {{feedback.name}}
  </td>
  <td>
    {{feedback.comments}}
  </td>
  <td>
    <small><em>
    {{feedback.timestamp|date:'M. d'}}
    {{feedback.timestamp|time}}
  </em>
    </small>
  </td>
</tr>
{% endfor %}
{% else %}
<tr>
  <td colspan='3'><em> no feedback in the system</em></td>
</tr>

{% endif %}
</table>
</div>
</div>
{% endblock %}
