{% extends 'risk_ratings/index.html' %}

{% block body_container %}
<div class='row'>
  <div class='col-md-12'>
    <table id='tickers_table' class='table table-striped table-bordered'>
      <thead>
        <tr>
          <th/>
          <th>Symbol</th>
          <th>Company</th>
          <th>Sector</th>
          <th>Team</th>
          <!--
          <th>change today (%)</th>
          <th>share price ($)</th>
        -->
          <th>ROE</th>
          <th>net income MRQ</th>
          <th>p/e</th>
          <th>eps</th>
          <th>most recent</th>
          <th/>
        </tr>
      </thead>
      <tbody>
      {% for ticker in tickers %}
          <tr>
            <td>
              <img src='//g.foolcdn.com/art/companylogos/mark/{{ticker.ticker.symbol}}.png'
              alt='{{ticker.ticker.symbol}} logo'
              height='35px'/>
            </td>
            <td>{{ticker.ticker.symbol}}</td>
            <td>{{ticker.ticker.company_name}}</td>
            <td>
              {{ticker.sector}}
              {% if ticker.industry %}
                <br/>
                <small>{{ticker.industry}}</small>
              {% endif %}
            </td>
            <td>{{ticker.ticker.get_teams}}</td>
            <!--
            <td>{{ticker.percent_change}}</td>
            <td>{{ticker.current_price}}</td>
            -->
            <td>{{ticker.return_on_equity|floatformat:1}}</td>
            <td>{{ticker.netincome_latest_quarter}}</td>
            <td>{{ticker.price_earnings_ratio|floatformat:2 }}</td>
            <td>{{ticker.earnings_per_share|floatformat:2 }}</td>
            <td>
              {% for e in ticker.ticker.riskratingrecord_set.all %}
              {% ifnotequal forloop.counter0 0%}
              <br/>
              {% endifnotequal %}
              <small><a href="{{e.get_full_url}}" target="_blank">{{e.headline}}</a><br/>{{e.publish_date|date}}</small>
              {% endfor %}
            </td>
            <td>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Create
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'create_risk_rating' %}?ticker={{ticker.ticker.symbol}}&team_name=sa_david">SA:David</a></li>
                  <li><a href="{% url 'create_risk_rating' %}?ticker={{ticker.ticker.symbol}}&team_name=sa_tom">SA:Tom</a></li>
                  <li><a href="{% url 'create_risk_rating' %}?ticker={{ticker.ticker.symbol}}&team_name=rb">RB</a></li>
                  <li><a href="{% url 'create_risk_rating' %}?ticker={{ticker.ticker.symbol}}&team_name=beta">Beta</a></li>
                </ul>
                </div>
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>



</div>
{% endblock %}



{% block scripts_block %}

{{ block.super }}
<!-- http://www.datatables.net/ -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script>
console.log('hi again');
    $(function() {
      console.log('hi again');
			$('#tickers_table').dataTable( {
	        "order": [[ 1, "asc" ]],
	        "lengthMenu": [[-1,50,100], ["All",50,100]]
	    } );

    });
</script>
{% endblock %}
